<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MIRO Signup-Automation">
    <listeners>
        <listener class-name="com.tmb.listeners.TestListener"/>
    </listeners>
    <test parallel="methods" thread-count="3" name="SeleniumFramework">
        <classes>
            <class name="com.tmb.tests.SignupPageTest"/>
            <class name="com.tmb.tests.ConfirmationPageTest"/>
        </classes>
    </test>
</suite>